.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 1.5em;
}

.Header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__nav__list {
  display: none;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 768px) {
  .Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    padding: 2em 3.25em 1.75em;
  }

  .Header__nav {
    width: 100%;
  }

  .Header__nav__hamb-btn {
    display: none;
  }

  .Header__nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  .nav-link {
    text-transform: uppercase;
    color: var(--clr-white-text-alt-2);
    letter-spacing: 1px;
    text-decoration: none;
    font-size: var(--fs-11);
    font-weight: var(--fw-bold);
  }

  .nav-link:hover {
    color: var(--clr-white-text);
  }
}
