.Planet {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding-bottom: 3em;
}

.Planet__nav {
  border: 1px solid var(--clr-white-alt);
  border-left: none;
  border-right: none;
}

.Planet__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5em;
}

.planet-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  height: 300px;

  position: relative;
}

.planet-img {
  transform-origin: center;

  transform: scale(0.5);
}

.planet-img__2 {
  position: absolute;
  top: 10%;

  transform: scale(0.2);
}

.Planet__copy,
.Planet__stats {
  padding: 0 1.5em;
}

.Planet__copy {
  text-align: center;
}

.text {
  margin-top: 1em;
}

.source {
  margin-top: 0.85em;
}

.icon-source {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 0.25em;
}

.Planet__stats {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  margin-top: 1.75em;
}

.stat-item {
  padding: 0.25em 1.5em 0.4em;
  border: 1px solid var(--clr-white-alt);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
