.Planet {
}

.Planet__nav {
  border: 1px solid var(--clr-white-alt);
  border-left: none;
  border-right: none;
}

.Planet__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5em;
}

.Planet__content {
  padding: 6em 1.5em 3em;
}
