@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Spartan', sans-serif;
  --ff-secondary: 'Antonio', sans-serif;

  /* --fw-light: 300; */
  --fw-regular: 400;
  --fw-medium: 500;
  /* --fw-semi-bold: 600; */
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Text */
  --clr-white-text: hsla(0, 0%, 100%, 1);
  --clr-grey-text: hsla(240, 6%, 54%, 1);

  /* Background  */
  --clr-dark-bg: hsla(240, 67%, 8%, 1);
  --clr-turquoise-bg: hsla(194, 48%, 49%, 1);
}

body {
  background: var(--clr-dark-bg);

  color: var(--clr-white-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 2;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.Header__title {
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-size: var(--fs-28);
  letter-spacing: -1.05px;
}

.name {
  font-family: var(--ff-secondary);
  font-size: var(--fs-40);
  text-transform: uppercase;
}

.text {
  font-size: var(--fs-11);
}

.source {
  color: var(--clr-grey-text);
  font-size: var(--fs-12);
}

.stat-name {
  color: var(--clr-grey-text);
  font-size: var(--fs-08);
  letter-spacing: 0.73px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.stat-value {
  font-family: var(--ff-secondary);
  font-size: var(--fs-20);
  text-transform: uppercase;
  letter-spacing: -0.75px;
}

/* ================== */
/* Links */
/* ================== */
.source__link {
  font-weight: var(--fw-bold);
  color: var(--clr-grey-text);
}

.source__link:hover,
.source__link:focus {
  text-decoration: none;
}

/* ================== */
/* Buttons & inputs */
/* ================== */
.Planet__btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1.93px;
  color: var(--clr-grey-text);
  font-size: var(--fs-09);

  border: none;
  background-color: transparent;
  cursor: pointer;

  padding: 1em 0;
  border-bottom: 4px solid transparent;
}

.Planet__btn.active {
  border-bottom: 4px solid var(--clr-turquoise-bg);
}

/* ================== */
/* Utility styles */
/* ================== */
ul {
  list-style: none;
}
